<h1 class="h1 mb-5">Export</h1>

<p class="mb-5">OPML is a popular interchange format for RSS feeds. If you wish to make a backup copy of your subscription list or migrate to a different service, an OPML copy of your feed list may come in handy. Or if you just want to share your feed list with a friend!</p>

<%= link_to 'Export to opml', root_path, class: 'btn btn-primary' %>