<% content_for :content do %>
  <%= render "shared/nav" %>
  <div class="flex gap-10 h-full">
    <%= link_to '/dashboard/empty', class: 'w-16 z-50 h-16 fixed md:sticky left-5 bottom-5 shrink-0 md:top-5 aspect-square flex items-center justify-center bg-white/60 hover:bg-white rounded-full border  hover:shadow-slate-200/60 hover:text-slate-600 bg-white border-slate-200 text-slate-700' do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
           stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
      </svg>
    <% end %>
    <div class="max-w-3xl flex-1 p-5 md:p-10 md:rounded-2xl mx-auto bg-white dark:bg-slate-600 dark:border-slate-500/50 border border-slate-200">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>


